
{% extends 'base.html' %}

{% block title %}Hobbies{% endblock %}

{% block hobbies %} active {% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Hobbies</h1>
    <ul class="list-group">
        <li class="list-group-item">Pilotar drones</li>
        <li class="list-group-item">Montaje de ordenadores para gaming</li>
        <li class="list-group-item">Interés por las Inteligencias Artificiales</li>
        <li class="list-group-item">Mi GitHub: <a href="https://github.com/Guillermoj45" target="_blank">https://github.com/Guillermoj45</a></li>
    </ul>
</div>
{% endblock %}
